<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Plotly Chart Demo
    </h1>
    
    <p>Booking stats</p>
    
    <h1><a href="chart1">Average price per type of stay</a></h1>
    <h1><a href="chart2">Number of property types</a></h1>
    <h1><a href="chart3">Notes en fonction du prix et type de sejour</a></h1>
    <h1><a href="chart4">Average number of reviews per type</a></h1>
    <h1><a href="chart5">Notes en fonction du prix et du type de sejour</a></h1>

    <p>Flight stats</p>
    <h1><a href="chart6">Temps moyen d\'un vol aller par companie aerienne (en h)</a></h1>
    <h1><a href="chart7">Temps moyen d\'un vol retour par companie aerienne (en h)</a></h1>
    <h1><a href="chart8">Nombre d\'escales par companies aeriennes</a></h1>
    <h1><a href="chart9">Prix moyen par voyage</a></h1>
    <h1><a href="chart10">Temps de vol par compagnie et par prix</a></h1>

</body>
</html>